@charset "UTF-8";
/* ------------------------------------------------------------ */
@font-face {
  font-family: Lifehack;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Gagalin;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Ubuntu;
  /* Имя шрифта */
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */
}
/* ------------------------------------------------------------ */
/* Настройки */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin-top: -14px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 13px;
  font-weight: 400;
  /*
      background-image: url("../img/bg-sites/nerds-index.jpg");
      background-image: url("../img/bg-sites/nerds-index-width-slide-2.png");
      background-image: url("../img/bg-sites/nerds-index-width-slide-3.png");
      background-image: url("../img/bg-sites/nerds-catalog.jpg");
      background-image: url("../img/bg-sites/nerds-index-subs.png");
      background-image: url("../img/bg-sites/nerds-catalog-subs.png");

      font-family: 'Bebas Neue', cursive;
      font-family: 'Lobster', cursive;
      font-family: 'Open Sans', sans-serif;
  */
}

.container {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid black;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-1 {
  display: flex;
  flex-direction: column;
}

.section-1__block-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1__block-1-p {
  position: relative;
  top: 8px;
  margin-left: 23px;
  margin-bottom: 18px;
  font-size: 49px;
  font-family: "Lobster", Arial, sans-serif;
  color: #3cc3b5;
  line-height: 0.388;
  text-decoration: none;
}

.section-1__block-1-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.section-1__block-1-input {
  width: 446px;
  min-height: 33px;
  border: 1px solid #e1e1e1;
}

.section-1__block-1-form-img {
  margin-top: -6px;
  position: relative;
  top: 6px;
  right: 34px;
  width: 22px;
  min-height: 22px;
  background-image: url("../img/find.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
}
.section-1__block-1-form-img:hover {
  cursor: pointer;
}

.section-1__block-1-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 108px;
  margin-right: 21px;
}

.section-1__block-1-img {
  width: 41px;
  min-height: 37px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
}

.section-1__block-1-price {
  position: relative;
  top: 5px;
  font-size: 33px;
  font-family: "Bebas Neue", Arial, sans-serif;
  color: #a1a1a1;
  line-height: 0.576;
}

.section-1__block-2 {
  min-width: 100%;
  min-height: 37px;
  background-color: #4ccfc1;
  box-shadow: 0.5px 0.866px 3px 0px black;
  position: absolute;
  top: 74px;
  left: 0;
}

.section-1__block-2-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-height: 39px;
  background-color: #4ccfc1;
  width: 1024px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-1__block-2-link {
  display: flex;
  align-items: center;
}
.section-1__block-2-link::after {
  content: "|";
  position: relative;
  left: 14px;
}
.section-1__block-2-link:hover {
  cursor: default;
}

.section-1__block-2-link-add {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  font-family: "Bebas Neue", Arial, sans-serif;
  color: white;
  line-height: 0.905;
}
.section-1__block-2-link-add p {
  margin: 0;
}
.section-1__block-2-link-add p:hover {
  color: #6be7e1;
  cursor: pointer;
  text-shadow: black 0 0 7px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */