/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 2 */
/* --------------------------------------------- */

.section-2 {
    margin-top: 29px;
    background-color: #3ec0b9;
    position: inherit;
    width: 1024px;
    min-width: 100%;
    min-height: 448px;
}

.section-2__container {
    background-color: #3ec0b9;
    min-width: 100%;
    min-height: 448px;

    margin-left: 0 auto;
}

.section-2__container-slider {
    width: 1024px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-2__pic {
    width: 279px;
    min-height: 325px;

    margin-top: 66px;
    margin-left: 87px;

    background-image: url("../img/t-shirt-slider.png");
    background-repeat: no-repeat;
}

.section-2__info-txt {
    width: 401px;

    margin-top: 80px;
    margin-right: 165px;
}

.section-2__header {
    margin-top: 0;
    margin-bottom: 23px;

    font-size: 61px;
    font-family: "Bebas Neue", Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 0.885;
    font-weight: 400;
}

.section-2__info {
    margin-top: 0;
    margin-bottom: 36px;

    font-size: 17px;
    font-family: "Open Sans", Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.647;
}

.section-2__link {
    margin: 0;

    padding-left: 25px;
    padding-right: 25px;

    text-decoration: none;

    border: 3px solid white;
    border-radius: 10%;

    width: 85px;

    font-size: 27px;
    font-family: "Bebas Neue", Arial, sans-serif;
    color: white;
    line-height: 0.704;

    &:hover {
        color: rgb(107, 231, 225);
        text-shadow: black 0 0 7px;
        transition: 0.5s;
    }
}

.section-2__options {
    display: flex;
    flex-direction: row;

    list-style: none;

    margin: 0;

    padding-left: 0;

    li {
        padding-top: 59px;
        padding-right: 10px;
        padding-bottom: 0;

        &:last-child {
            padding-right: 0;
        }
    }
}

.section-2__option {
    color: white;

    font-size: 34px;
    font-weight: bold;

    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
        color: #7fdad0;
        transition: 0.5s;
    }
}

.section-2__option-active {
    color: #7fdad0;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
