/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 2 */
/* --------------------------------------------- */

.section-2 {
    margin-top: 29px;

    background-color: $lite-turquoise-color-four;

    position: relative;

    width: 1024px;
    min-width: 100%;
    min-height: 448px;
}

.section-2__container {
    background-color: $lite-turquoise-color-four;

    min-width: 100%;
    min-height: 448px;
}

.section-2__container-slider {
    width: 1024px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-2__pic {
    width: 279px;
    min-height: 325px;

    margin-top: 66px;
    margin-left: 87px;

    background-image: url("../img/t-shirt-slider.png");
    background-repeat: no-repeat;
}

.section-2__info-txt {
    width: 401px;

    margin-top: 80px;
    margin-right: 165px;
}

.section-2__header {
    margin-top: 0;
    margin-bottom: 23px;

    font-size: 61px;
    font-family: "Bebas Neue", Arial, sans-serif;
    color: $white-color;
    line-height: 0.885;
    font-weight: 400;
}

.section-2__info {
    margin-top: 0;
    margin-bottom: 36px;

    font-size: 17px;
    font-family: "Open Sans", Arial, sans-serif;
    color:$white-color;
    line-height: 1.647;
}

.section-2__link {
    margin: 0;

    padding-left: 25px;
    padding-right: 25px;

    text-decoration: none;

    border: 3px solid $white-color;
    border-radius: 10%;

    width: 85px;

    font-size: 27px;
    font-family: "Bebas Neue", Arial, sans-serif;
    color: $white-color;
    line-height: 0.704;

    &:hover {
        color: $black-color;
        transition: 0.5s;
    }
}

.section-2__options {
    display: flex;
    flex-direction: row;

    list-style: none;

    margin: 0;

    padding-left: 0;

    position: relative;
    z-index: 2;

    li {
        padding-top: 59px;
        padding-right: 10px;
        padding-bottom: 0;

        &:last-child {
            padding-right: 0;
        }
    }
}

.section-2__option {
    color: $white-color;

    font-size: 34px;
    font-weight: bold;

    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
        color: $lite-turquoise-color-three;
        transition: 0.5s;
    }
}

.section-2__option-active {
    color: $lite-turquoise-color-three;
}
/* --------------------------------------------- */
/* --------------------------------------------- */

// Слайдер
.section-2__slide-2 {
    background-color: $dark-red-color;
    margin-top: -447px;
}
.section-2__slide-3 {
    background-color: $lite-orange-color;
    margin-top: -448px;
}
.section-2__slide-4 {
    background-color: $violet-color;
    margin-top: -449px;
}
.section-2__slide-5 {
    background-color: $lite-red-color;
    margin-top: -448px;
}
.section-2__slide-top {
    z-index: 1;
    position: relative;
}
