// параметры

// цвет
$white-color: #ffffff;

$black-color: #000000;

$violet-color: #7b68ee;

$lite-turquoise-color-one: #3cc3b5;
$lite-turquoise-color-two: #4ccfc1;
$lite-turquoise-color-three: #7fdad0;
$lite-turquoise-color-four: #3ec0b9;
$lite-turquoise-color-five: #38c4b3;
$lite-turquoise-color-six: #3cc395;
$lite-turquoise-color-seven: #6be7ff;
$lite-turquoise-color-eight: #6be7e1;
$lite-turquoise-color-nine: #40c9b6;
$lite-turquoise-color-ten: #2da89b;

$lite-grey-color-one: #e1e1e1;
$lite-grey-color-two: #a1a1a1;
$lite-grey-color-three: #afafaf;
$lite-grey-color-four: #e4e4e4;

$lite-orange-color: #deb887;

$lite-brown-color: #a43820;

$dark-red-color: #692a2a;
$lite-red-color: #cd5c5c;

// цвет

// шрифт
$main-font: "Open Sans", "Arial", sans-serif;
// шрифт

// параметры
